<div class="container-fluid position-relative d-flex p-0">
    <app-header-admin [isSidebarOpen]="isSidebarOpen"></app-header-admin>


    <!-- Content Start -->
    <div class="content" [class.open]="isSidebarOpen">
        <!-- Navbar Start -->
        <app-navbar-admin (toggleSidebar)="toggleSidebar()"></app-navbar-admin>
        <!-- Navbar End -->


        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12 mb-3">
                    <!-- Form thêm -->
                    <div class="bg-secondary1 rounded h-100 p-4" *ngIf="!isEditForm ; else edit">
                        <h6 class="mb-4">Thêm sự kiện</h6>
                        <form [formGroup]="suKienForm" (ngSubmit)="themSuKien()">
                            <div class="mb-3">
                                <label for="eventName" class="form-label">Tên sự kiện</label>
                                <input type="text" class="form-control" id="eventName" formControlName="eventName" 
                                    aria-describedby="emailHelp">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="suKienForm.controls['eventName'].errors && suKienForm.controls['eventName'].errors['required']">Tên sự kiện không được để trống</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="startDateTime" class="form-label"  >Ngày bắt đầu</label>
                                <input type="text" id="startDateTime"  class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" formControlName="startDateTime"/>
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="suKienForm.controls['startDateTime'].errors && suKienForm.controls['startDateTime'].errors['required']">Ngày bắt đầu không được để trống</small>
                                    <small class="text-danger" *ngIf="suKienForm.controls['startDateTime'].errors && !suKienForm.controls['startDateTime'].errors['required'] && suKienForm.controls['startDateTime'].errors['invalidDatetimeFormat']">Nhập đúng định dạng yyyy-mm-ddThh:mm:ss, Ví dụ: 8g sáng ngày 01/04/2024 sẽ là 2024-04-01T08:00:00</small>
                                  </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="endDateTime" class="form-label"  >Ngày kết thúc</label>
                                <input type="text" id="endDateTime"  class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" formControlName="endDateTime"/>
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="suKienForm.controls['endDateTime'].errors && suKienForm.controls['endDateTime'].errors['required']">Ngày kết thúc không được để trống</small>
                                    <small class="text-danger" *ngIf="suKienForm.controls['endDateTime'].errors && !suKienForm.controls['endDateTime'].errors['required'] && suKienForm.controls['endDateTime'].errors['invalidDatetimeFormat']">Nhập đúng định dạng yyyy-mm-ddThh:mm:ss, Ví dụ: 8g sáng ngày 01/04/2024 sẽ là 2024-04-01T08:00:00</small>
                                  </div>
                            </div>
                            <div class="mb-3">
                                <label for="maxQuantity" class="form-label" >Số lượng tối đa</label>
                                <input type="number" class="form-control" id="maxQuantity"  formControlName="maxQuantity" min="1" >
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="suKienForm.controls['maxQuantity'].errors && suKienForm.controls['maxQuantity'].errors['required']">Số lượng không được để trống</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="img" class="form-label" >Hình ảnh</label>
                                <input type="text" class="form-control" id="img"  formControlName="img" >
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="suKienForm.controls['img'].errors && suKienForm.controls['img'].errors['required']">Hình ảnh không được để trống</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Viết mô tả tại đây" formControlName="description"
                                        id="floatingTextarea" style="height: 150px;"></textarea>
                                    <label for="floatingTextarea">Mô tả</label>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <div class="form-floating">
                                    <select class="form-control" id="floatingSelect" formControlName="organizerId" aria-label="Floating label select example">
                                        <option value="" selected>Tất cả</option>
                                        <option *ngFor="let organizer of listNhaToChuc" [value]="organizer.id">{{ organizer.organizerName }}</option>
                                    </select>
                                    <div *ngIf="submitted">
                                        <small class="text-danger" *ngIf="suKienForm.controls['organizerId'].errors && suKienForm.controls['organizerId'].errors['required']">Nhà tổ chức không được để trống</small>
                                    </div>
                                    <label for="floatingSelect">Chọn tổ chức</label>
                                </div>
                            </div>
                            
                            
                            <div *ngIf="isCheckSuccess" class="text-center mb-2">
                                <span class="text-success" style="font-weight: bold;">{{successMessage}}</span>
                            </div>
                            <button type="reset" class="btn btn-warning mr-3" (click)="cancel()">Làm mới</button>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </form>
                    </div>
                    <!-- End add -->
                    
                    <!-- Form edit -->
                    <ng-template #edit>
                        <div class="bg-secondary1 rounded h-100 p-4" >
                            <h6 class="mb-4">Sửa sự kiện</h6>
                            <form [formGroup]="suKienForm" (ngSubmit)="suaSuKien()">
                                <div class="mb-3">
                                    <label for="eventName" class="form-label">Tên sự kiện</label>
                                    <input type="text" class="form-control" id="eventName" formControlName="eventName" 
                                        aria-describedby="emailHelp">
                                    <div *ngIf="submitted">
                                        <small class="text-danger" *ngIf="suKienForm.controls['eventName'].errors && suKienForm.controls['eventName'].errors['required']">Tên sự kiện không được để trống</small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="startDateTime" class="form-label"  >Ngày bắt đầu</label>
                                    <input type="text" id="startDateTime"  class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" formControlName="startDateTime"/>
                                    <div *ngIf="submitted">
                                        <small class="text-danger" *ngIf="suKienForm.controls['startDateTime'].errors && suKienForm.controls['startDateTime'].errors['required']">Ngày bắt đầu không được để trống</small>
                                        <small class="text-danger" *ngIf="suKienForm.controls['startDateTime'].errors && !suKienForm.controls['startDateTime'].errors['required'] && suKienForm.controls['startDateTime'].errors['invalidDatetimeFormat']">Nhập đúng định dạng yyyy-mm-ddThh:mm:ss, Ví dụ: 8g sáng ngày 01/04/2024 sẽ là 2024-04-01T08:00:00</small>
                                      </div>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="endDateTime" class="form-label"  >Ngày kết thúc</label>
                                    <input type="text" id="endDateTime"  class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" formControlName="endDateTime"/>
                                    <div *ngIf="submitted">
                                        <small class="text-danger" *ngIf="suKienForm.controls['endDateTime'].errors && suKienForm.controls['endDateTime'].errors['required']">Ngày kết thúc không được để trống</small>
                                        <small class="text-danger" *ngIf="suKienForm.controls['endDateTime'].errors && !suKienForm.controls['endDateTime'].errors['required'] && suKienForm.controls['endDateTime'].errors['invalidDatetimeFormat']">Nhập đúng định dạng yyyy-mm-ddThh:mm:ss, Ví dụ: 8g sáng ngày 01/04/2024 sẽ là 2024-04-01T08:00:00</small>
                                      </div>
                                </div>
                                <div class="mb-3">
                                    <label for="maxQuantity" class="form-label" >Số lượng tối đa</label>
                                    <input type="number" class="form-control" id="maxQuantity"  formControlName="maxQuantity" min="1" >
                                    <div *ngIf="submitted">
                                        <small class="text-danger" *ngIf="suKienForm.controls['maxQuantity'].errors && suKienForm.controls['maxQuantity'].errors['required']">Số lượng không được để trống</small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="img" class="form-label" >Hình ảnh</label>
                                    <input type="text" class="form-control" id="img"  formControlName="img" >
                                    <div *ngIf="submitted">
                                        <small class="text-danger" *ngIf="suKienForm.controls['img'].errors && suKienForm.controls['img'].errors['required']">Hình ảnh không được để trống</small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Viết mô tả tại đây" formControlName="description"
                                            id="floatingTextarea" style="height: 150px;"></textarea>
                                        <label for="floatingTextarea">Mô tả</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="floatingSelect2" formControlName="status" aria-label="Floating label select example">
                                            <option value="" selected>Tất cả</option>
                                            <option value="true">Hoạt động</option>
                                            <option value="false">Đóng</option>
                                        </select>
                                        <div *ngIf="submitted">
                                            <small class="text-danger" *ngIf="suKienForm.controls['organizerId'].errors && suKienForm.controls['organizerId'].errors['required']">Nhà tổ chức không được để trống</small>
                                        </div>
                                        <label for="floatingSelect">Trạng thái</label>
                                    </div>
                                </div>
                                
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select class="form-control" id="floatingSelect" formControlName="organizerId" aria-label="Floating label select example">
                                            <option value="" selected>Tất cả</option>
                                            <option *ngFor="let organizer of listNhaToChuc" [value]="organizer.id">{{ organizer.organizerName }}</option>
                                        </select>
                                        <div *ngIf="submitted">
                                            <small class="text-danger" *ngIf="suKienForm.controls['organizerId'].errors && suKienForm.controls['organizerId'].errors['required']">Nhà tổ chức không được để trống</small>
                                        </div>
                                        <label for="floatingSelect">Chọn tổ chức</label>
                                    </div>
                                </div>
                                
                                
                                <div *ngIf="isCheckSuccess" class="text-center mb-2">
                                    <span class="text-success" style="font-weight: bold;">{{successMessage}}</span>
                                </div>
                                <button type="reset" class="btn btn-warning mr-3" (click)="cancel()">Làm mới</button>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </form>
                        </div>
                    </ng-template>
                    
                    <!-- end Form Edit -->
                </div>
                <div class="col-sm-12 col-xl-12 mb-3">
                    <div class="bg-secondary text-center rounded p-4"  style="background-color: #191C24 !important;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Danh sách sự kiện ({{listSuKien.length}} sự kiện)</h6>
                            <!-- <a href="">Show All</a> -->
                        </div>
                        <input type="search" class="form-control mb-3" id="search" style="width: 50%;" placeholder="Tìm kiếm bằng tên..." [(ngModel)]="tenSuKien"
                        (input) ="updateSuKienByStatusAndEventNameAndOrganizerId()">
                        <div class="table-responsive">
                            <table class="table text-start align-middle table-bordered table-hover mb-0">
                                <thead>
                                    <tr class="text-white" >
                                        <th scope="col" >STT</th>
                                        <th scope="col">Tên sự kiện</th>
                                        <th scope="col">Bắt đầu</th>
                                        <th scope="col">Kết thúc</th>
                                        <th scope="col">Mô tả</th>
                                        <th scope="col">Số lượng tối đa</th>
                                        <th scope="col">Số lượng đăng ký</th>
                                        <th scope="col">Số lượng thực tế</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Thao tác</th>
                                        <!-- <th scope="col">Thao tác</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of listSuKien;index as i">
                                        
                                        <td>{{i+1}}</td>
                                        <td>{{s.eventName}}</td>
                                        <td>{{s.startDateTime | date: 'HH:mm dd/MM/yyyy'}}</td>
                                        <td>{{s.endDateTime | date: 'HH:mm dd/MM/yyyy'}}</td>
                                        <td>{{s.description}}</td>
                                        <td>{{s.maxQuantity}}</td>
                                        <td>{{s.totalRegistered}}</td>
                                        <td>{{s.totalAttended}}</td>
                                        <td>
                                            <img [src]="s.img" style="width: 100%;" alt="">
                                        </td>
                                        <td><span *ngIf="s.status;else noStatus">Đang hoạt động</span><ng-template #noStatus><span>Đã đóng</span></ng-template></td>
                                        <td>
                                            <div><a class="btn btn-sm btn-primary" (click)="deleteSuKien(s.id)"  >Xóa</a></div>
                                            <div><a class="btn btn-sm btn-light" (click)="getInfoById(s.id)" >Sửa</a></div>
                                            <div><a class="btn btn-sm btn-dark" style="color: #fff;" >Chi tiết</a></div>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                
                
                <!-- <div class="col-sm-12 col-xl-6 mb-3">
                    <div class="bg-secondary1 rounded h-100 p-4">
                        <h6 class="mb-4">Floating Label</h6>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Works with selects</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="floatingTextarea" style="height: 150px;"></textarea>
                            <label for="floatingTextarea">Comments</label>
                        </div>
                    </div>
                </div> -->
                <!-- // -->
            </div>
        </div>
        <!-- Form End -->


        <!-- Footer Start -->
        <app-footer-admin></app-footer-admin>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
