<div class="body">
  <div class="container">
    <h2 class="login-title">KÝ TÚC XÁ SINH VIÊN</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-container">
          <form [formGroup]="form">
            <div class="input-group mt-3 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-user" style="line-height: inherit"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                formControlName="username"
                placeholder="Nhập tài khoản"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-lock" style="line-height: inherit"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
                placeholder="Nhập mật khẩu"
              />
            </div>
            <button
              [disabled]="form.invalid"
              (click)="onSubmit()"
              type="submit"
              class="btn btn-danger"
            >
              Đăng nhập
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
