<app-header-student></app-header-student>
<section class="mt-5">
  <div class="container">
    <div class="section-title mt-5">
      <h2>Thông tin sinh viên</h2>
      <p>Kiểm tra thông tin chính xác</p>
    </div>
  </div>
</section>
<section class="container">
  <h4>Thông tin sinh viên và dịch vụ đã đăng ký</h4>
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-striped text-center">
        <tbody>
          <tr *ngIf="student">
            <td style="width: 25%; text-align: right">Mã số sinh viên</td>
            <td style="width: 25%; text-align: left">
              {{ student.numberStudent }}
            </td>
            <td style="width: 25%; text-align: right">Ngày sinh</td>
            <td style="width: 25%; text-align: left">{{ student.birthday }}</td>
          </tr>
          <tr>
            <td style="width: 25%; text-align: right">Họ tên</td>
            <td style="width: 25%; text-align: left">{{ student.name }}</td>
            <td style="width: 25%; text-align: right">Lớp</td>
            <td style="width: 25%; text-align: left">
              {{ student.classroom }}
            </td>
          </tr>
          <tr>
            <td style="width: 25%; text-align: right">Ngành học</td>
            <td style="width: 25%; text-align: left">{{ student.major }}</td>
            <td style="width: 25%; text-align: right">Giới tính</td>
            <td style="width: 25%; text-align: left">
              {{ student.gender === 1 ? "Nam" : "Nữ" }}
            </td>
          </tr>
          <tr>
            <td style="width: 25%; text-align: right">Hộ khẩu tỉnh/TP</td>
            <td style="width: 25%; text-align: left">{{ student.address }}</td>
            <td style="width: 25%; text-align: right">Số điện thoại cá nhân</td>
            <td style="width: 25%; text-align: left">{{ student.phone }}</td>
          </tr>
          <tr>
            <td style="width: 25%; text-align: right">Dãy</td>
            <td style="width: 25%; text-align: left">
              <span *ngIf="contract">{{ contract.roomType }}</span>
            </td>
            <td style="width: 25%; text-align: right">Phòng</td>
            <td style="width: 25%; text-align: left">
              <span *ngIf="contract">{{ contract.numberRoom }}</span>
            </td>
          </tr>
          <tr>
            <td style="width: 25%; text-align: right">Ngày băt đầu</td>
            <td style="width: 25%; text-align: left">
              <span *ngIf="contract">{{
                sesmester.startDate | date : "dd-MM-yyyy"
              }}</span>
            </td>
            <td style="width: 25%; text-align: right">Ngày kết thúc</td>
            <td style="width: 25%; text-align: left">
              <span *ngIf="contract">{{
                sesmester.endDate | date : "dd-MM-yyyy"
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Số thứ tự</th>
            <th>Tên dịch vụ</th>
            <th>Giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">Bạn chưa đăng ký dịch vụ nào hết.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="tacvu">
    <ul>
      <li>
        <a routerLink="/template">
          <img src="../../../assets/img/printer.png" alt="" />
          In phiếu đăng ký
        </a>
      </li>
      <li *ngIf="contract">
        <a onclick="canhbao();" style="cursor: pointer">
          <img src="../../../assets/img/close.png" alt="" />
          Rút đơn ở ký túc xá
        </a>
      </li>
    </ul>
  </div> -->
  <div *ngIf="contract">
    <div class="text-center">
      <b>Tiền phòng:</b> {{ contract.totalPrice | number }}đ
    </div>
    <div class="text-center">
      <div
        class="text-danger"
        style="font-weight: bold; font-style: italic"
        *ngIf="contract.status == 0"
      >
        Chưa thanh toán
      </div>
      <div
        class="text-success"
        style="font-weight: bold; font-style: italic"
        *ngIf="contract.status == 1"
      >
        Đã thanh toán
      </div>
      <div
        class="text-success"
        style="font-weight: bold; font-style: italic"
        *ngIf="contract.status == 2"
      >
        Bạn đang trong danh sách đen
      </div>
    </div>
    <div class="mt-2" *ngIf="contract.status == 0">
      <i class="fa fa-warning" style="font-size: 24px; color: red"></i>
      Hạn cuối thanh toán tiền phòng là ngày
      <b>{{ sesmester.registrationEndDate | date : "dd-MM-yyyy" }}. </b>Nếu
      không thanh toán đúng hạn, bạn sẽ bị thêm vào <b>DANH SÁCH ĐEN</b> và
      không thể đăng ký ở ký túc xá về sau nữa !<br />
      <div class="text-center">
        Thanh toán liền tại
        <span
          *ngIf="contract"
          style="cursor: pointer; color: blue; font-weight: bolder"
          (click)="payment(contract.totalPrice, contract.id)"
          >đây</span
        >
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h4>Hóa đơn điện nước</h4>
  <table class="table table-striped text-center"></table>
</section>
<app-footer-student></app-footer-student>
