<app-header></app-header>
<!--==========================
    Intro Section
  ============================-->
  
<main id="main" style="margin: 130px;">
<!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Loại homestay</h2>
            <p>Chúng tôi cung cấp các loại homestay sau</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-3" *ngFor="let t of listType" >
              <div class="speaker">
                <img [src]="t.img" alt="Speaker 1" class="img-fluid" style="height: 300px; width: 100%;">
                <div class="details">
                  <h3 class="text-center"><a  style="color: #f82249; cursor: pointer;" [routerLink]="['/homestay']" [queryParams]="{typeId: t.id}">{{t.typeName}}</a></h3>
                  <!-- <p style="text-align: justify;"><span style="font-weight: bold;">Trụ sở chính: </span>{{n.address}}</p> -->
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </section>
</main>

<app-footer></app-footer>