<div class="container-fluid position-relative d-flex p-0">
    <app-header-admin [isSidebarOpen]="isSidebarOpen"></app-header-admin>


    <!-- Content Start -->
    <div class="content" [class.open]="isSidebarOpen">
        <!-- Navbar Start -->
        <app-navbar-admin (toggleSidebar)="toggleSidebar()"></app-navbar-admin>
        <!-- Navbar End -->


        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6 mb-3">
                    <div class="bg-secondary1 rounded h-100 p-4">
                        <h6 class="mb-4">Thêm người dùng</h6>
                        <form [formGroup]="registerForm" (ngSubmit)="dangKy()">
                            <div class="mb-3">
                                <label for="account" class="form-label">Tài khoản</label>
                                <input type="text" class="form-control" id="account" formControlName="username" 
                                    aria-describedby="emailHelp">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['username'].errors && registerForm.controls['username'].errors['required']">Tài khoản không được để trống</small>
                                    <small class="text-danger" *ngIf="!registerForm.controls['username'].errors && alreadyExistAccount">{{alreadyExistAccount}}</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label" >Mật khẩu</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors['required']">Mật khẩu không được để trống</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword2" class="form-label"  >Xác thực mật khẩu</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" formControlName="confirmPassword">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].errors['required']">Xác nhận lại mật khẩu lần 2</small>
                                    <small class="text-danger" *ngIf="!registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].value != registerForm.controls['password'].value">Mật khẩu nhập lại chưa giống mật khẩu trên</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="fullname" class="form-label"  >Họ tên</label>
                                <input type="text" class="form-control" id="fullname" formControlName="fullname">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['fullname'].errors && registerForm.controls['fullname'].errors['required']">Họ tên không được để trống</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label"  >Số điện thoại</label>
                                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['phoneNumber'].errors && registerForm.controls['phoneNumber'].errors['required']">Tài khoản không được để trống</small>
                                  </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" >Email</label>
                                <input type="text" class="form-control" id="email" formControlName="email">
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['required']">Email không được để trống</small>
                                    <small class="text-danger" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['email']">Email cần nhập đúng định dạng</small>
                                  </div>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label" >Địa chỉ</label>
                                <input type="password" class="form-control" id="address"  formControlName="address" >
                                <div *ngIf="submitted">
                                    <small class="text-danger" *ngIf="registerForm.controls['address'].errors && registerForm.controls['address'].errors['required']">Địa chỉ không được để trống</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="role" class="form-label">Quyền</label>
                                <div class="form-check" *ngFor="let r of listRoles;index as i">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault{{i}}" [value]="r.name"  (change)="onCheckboxChange($event)">
                                    <label class="form-check-label" for="flexCheckDefault{{i}}">
                                        {{r.name}}
                                    </label>
                                </div>
                                <div *ngIf="submitted">
                                    
                                    <small class="text-danger" *ngIf="registerForm.controls['roleNames'].value.length == 0">Quyền không được để trống</small>
                                </div>
                            </div>
                            <div *ngIf="isCheckSuccess" class="text-center mb-2">
                                <span class="text-success" style="font-weight: bold;">{{successMessage}}</span>
                            </div>
                            <button type="reset" class="btn btn-warning mr-3" (click)="cancel()">Làm mới</button>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 mb-3">
                    <div class="bg-secondary1 rounded h-100 p-4">
                        <h6 class="mb-4">Thêm quyền hạn</h6>
                        <form [formGroup]="themQuyenHanForm" (ngSubmit)="themQuyenHan()">
                            <div class="row mb-3">
                                <label for="roleName" class="form-label"  >Vai trò</label>
                                <input type="text" class="form-control" id="roleName" formControlName="name"/>
                                <div *ngIf="submittedThemQuyenHan">
                                    <small class="text-danger" *ngIf="themQuyenHanForm.controls['name'].errors && themQuyenHanForm.controls['name'].errors['required']">Vai trò không được để trống</small>
                                </div>
                            </div>
                            <div *ngIf="errorMessageThemQuyenHan" class="text-center mb-2">
                                <span class="text-danger" style="font-weight: bold;">{{errorMessageThemQuyenHan}}</span>
                              </div>
                            <div *ngIf="successMessageThemQuyenHan" class="text-center mb-2">
                                <span class="text-success" style="font-weight: bold;">{{successMessageThemQuyenHan}}</span>
                            </div>
                            <button type="reset" class="btn btn-warning mr-3" (click)="cancelRole()">Làm mới</button>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-9 mb-3">
                    <div class="bg-secondary text-center rounded p-4"  style="background-color: #191C24 !important;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Danh sách người dùng ({{listUsers.length}} tài khoản người dùng)</h6>
                            <!-- <a href="">Show All</a> -->
                        </div>
                        <input type="search" class="form-control mb-3" id="search" style="width: 50%;" placeholder="Tìm kiếm bằng tài khoản hoặc tên..." [(ngModel)]="searchUsername" (input)="seachUserByUsername()">
                        <div class="table-responsive">
                            <table class="table text-start align-middle table-bordered table-hover mb-0">
                                <thead>
                                    <tr class="text-white">
                                        <th scope="col">STT</th>
                                        <th scope="col">Tài khoản</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Địa chỉ</th>
                                        <th scope="col">SĐT</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Vai trò</th>
                                        <th scope="col">Trạng thái</th>
                                        <!-- <th scope="col">Thao tác</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of listUsers;index as i">
                                        
                                        <td>{{i+1}}</td>
                                        <td>{{u.username}}</td>
                                        <td>{{u.fullname}}</td>
                                        <td>{{u.address}}</td>
                                        <td>{{u.phoneNumber}}</td>
                                        <td>{{u.email}}</td>
                                        <td>
                                            <span *ngFor="let roleName of u.roles;index as i">{{roleName.name}}<span *ngIf="i+1 <u.roles.length"> ,</span> </span>
                                        </td>
                                        <td><span *ngIf="u.status; else khoa">Hoạt động</span><ng-template #khoa><span>Đã khóa</span></ng-template></td>
                                        <!-- <td>
                                            <div><a class="btn btn-sm btn-primary"  sty>Xóa</a></div>
                                            <div><a class="btn btn-sm btn-light"  sty>Sửa</a></div>
                                            
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-3 mb-3">
                    <div class="bg-secondary text-center rounded p-4"  style="background-color: #191C24 !important;">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Danh sách quyền hạn ({{listRoles.length}} vai trò)</h6>
                            <!-- <a href="">Show All</a> -->
                        </div>
                        <div class="table-responsive">
                            <table class="table text-start align-middle table-bordered table-hover mb-0">
                                <thead>
                                    <tr class="text-white">
                                        <th scope="col">Tên vai trò</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let r of listRoles">
                                        
                                        <td>{{r.name}}</td>
                                        <td><a class="btn btn-sm btn-primary mr-1" (click)="xoaVaiTro(r.id)" >Xóa</a>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-xl-6 mb-3">
                    <div class="bg-secondary1 rounded h-100 p-4">
                        <h6 class="mb-4">Floating Label</h6>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Works with selects</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here"
                                id="floatingTextarea" style="height: 150px;"></textarea>
                            <label for="floatingTextarea">Comments</label>
                        </div>
                    </div>
                </div> -->
                <!-- // -->
            </div>
        </div>
        <!-- Form End -->


        <!-- Footer Start -->
        <app-footer-admin></app-footer-admin>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>