<app-header-student></app-header-student>
<section class="mt-5">
  <div class="container">
    <div class="section-title mt-5">
      <h2>Lịch sử đặt phòng</h2>
      <p>Kiểm tra phòng đã đăng ký</p>
    </div>
  </div>
</section>
<section class="container">
  <h4>Lịch sử đăng ký</h4>
  <div class="text-center mt-3" *ngIf="errorMessage != ''">
    {{ errorMessage }}
  </div>

  <div>
    <div class="row">
      <div class="col-sm-5">
        <div class="row mb-3">
          <div class="col-sm-1"></div>
          <div class="col-sm-4">Học kỳ</div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-1"></div>
          <div class="col-sm-4">Năm học</div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-1"></div>
          <div class="col-sm-4">Thời gian ở</div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-1"></div>
          <div class="col-sm-4">Thời gian đăng ký</div>
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="row mb-3">
          <div class="col-sm-2">Loại phòng</div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-2">Phòng</div>
          <div class="col-sm-1"></div>
        </div>
        <div>
          <div style="font-style: italic; color: rgb(72, 62, 62)">
            * Hình ảnh chỉ mang tinh chất minh họa *
          </div>
          <!-- <div class="carousel">
            <input
              type="radio"
              name="slides"
              *ngFor="let img of imageUrls; index as i"
              [checked]="i + 1 === 1 ? 'checked' : null"
              id="slide-{{ i + 1 }}"
            />
            <ul class="carousel__slides">
              <li class="carousel__slide" *ngFor="let img of imageUrls">
                <figure>
                  <div>
                    <img
                      [src]="img"
                      alt=""
                      style="width: 100%; height: 400px"
                    />
                  </div>
                  <figcaption>
                    <div>
                      <span style="font-weight: bold">Máy lạnh: </span
                      >{{
                        roomReservation.roomType.isAirConditioned == true
                          ? "Có"
                          : "Không"
                      }}
                    </div>
                    <div>
                      <span style="font-weight: bold">Nấu ăn: </span>
                      {{
                        roomReservation.roomType.isCooked == true
                          ? "Cho phép"
                          : "Không"
                      }}
                    </div>
                    <div>
                      <span style="font-weight: bold">Số lượng: </span>
                      {{ roomReservation.roomType.maxQuantity }} thành viên
                    </div>
                    <div>
                      <span style="font-weight: bold">Giá: </span>
                      {{ roomReservation.roomType.price | number }}đ/tháng
                    </div>
                  </figcaption>
                </figure>
              </li>
            </ul>
            <ul class="carousel__thumbnails">
              <li *ngFor="let img of imageUrls; index as i">
                <label for="slide-{{ i + 1 }}"
                  ><img [src]="img" alt="" style="width: 100%; height: 100px"
                /></label>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-student></app-footer-student>
