<app-header-student></app-header-student>
<section class="mt-5">
  <div class="container">
    <div class="section-title mt-5">
      <h2>Loại dãy phòng</h2>
      <p>Chọn dãy phòng phù hợp với nhu cầu bạn</p>
    </div>
    <div class="table-filter">
      <form #f="ngForm">
        <div class="row">
          <div class="col-sm-8">
            <div class="row" *ngIf="sesmester">
              <div class="col-sm-2">
                <span style="font-weight: bold">Học kỳ:</span>
                0{{ sesmester.sesmester }}
              </div>
              <div class="col-sm-2">
                <span style="font-weight: bold">Năm học:</span>
                <br />{{ sesmester.schoolYear }}
              </div>
              <div class="col-sm-4">
                <span style="font-weight: bold">Thời gian đăng ký:</span>
                <br />{{
                  sesmester.registrationStartDate | date : "dd/MM/yyyy"
                }}
                đến
                {{ sesmester.registrationEndDate | date : "dd/MM/yyyy" }}
              </div>
              <div class="col-sm-4">
                <span style="font-weight: bold">Thời gian ở:</span>
                <br />{{ sesmester.startDate | date : "dd/MM/yyyy" }}
                đến
                {{ sesmester.endDate | date : "dd/MM/yyyy" }}
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="filter-group">
              <label style="font-weight: bold"
                ><i class="fa fa-bed"></i> Loại dãy</label
              >
              <div>
                <input
                  type="checkbox"
                  name="airConditioned"
                  value="1"
                  id="AirConditioned"
                  [(ngModel)]="airConditioned"
                  (ngModelChange)="onChange()"
                /><label class="mx-4" for="airConditioned">Có máy lạnh</label>
              </div>
              <div>
                <input
                  type="checkbox"
                  name="cooked"
                  value="1"
                  id="cooked"
                  [(ngModel)]="cooked"
                  (ngModelChange)="onChange()"
                /><label class="mx-4" for="cooked">Cho phép nấu ăn</label>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="filter-group">
              <label style="font-weight: bold"
                ><i class="fa fa-user-friends"></i> Số lượng
              </label>
              <select
                class="form-control"
                name="quantity"
                [(ngModel)]="quantity"
                (ngModelChange)="onChange()"
              >
                <option value="0">Tất cả</option>
                <option *ngFor="let q of listQuantity">{{ q }}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-3">
      <div class="col-sm-5"></div>

      <div
        class="col-sm-4 text-success"
        style="font-style: italic; font-weight: bold"
        *ngIf="isCheckedDate"
      >
        <img src="../../../assets/img/check.png" alt="" /> Đây là thời gian đăng
        ký ở
        <img src="../../../assets/img/check.png" alt="" />
      </div>
      <div
        class="col-sm-4 text-danger"
        style="font-style: italic; font-weight: bold"
        *ngIf="!isCheckedDate"
      >
        <img src="../../../assets/img/warning.png" alt="" /> Đã hết hạn đăng ký
        ở
        <img src="../../../assets/img/warning.png" alt="" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-5"></div>
      <div class="col-sm-4"></div>
      <div style="font-style: italic; color: rgb(72, 62, 62)" class="col-sm-3">
        * Hình ảnh chỉ mang tinh chất minh họa *
      </div>
    </div>
  </div>
</section>
<ngx-spinner
  bdColor="rgba(1.5, 0, 0, 1)"
  template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"
>
</ngx-spinner>
<section>
  <div class="container" *ngIf="listRoomType">
    <div class="row" *ngIf="listRoomType.length !== 0; else roomListTemplate">
      <app-room
        *ngFor="let roomType of listRoomType"
        [routerLink]="
          isCheckedDate === false
            ? null
            : roomType.enable
            ? ['/room-type-detail', roomType.id]
            : null
        "
        (click)="handleOnClick(isCheckedDate, roomType.enable)"
        class="col-md-8 col-lg-6 col-xl-4"
        [roomType]="roomType"
      ></app-room>
    </div>
    <ng-template #roomListTemplate>
      <div class="text-center" style="font-weight: bold">
        Không có loại phòng mà bạn tìm kiếm
      </div>
    </ng-template>
  </div>
</section>
<app-footer-student></app-footer-student>
