<div class="container">
  <header>
    <div class="mb-4">
      <div>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
      <div>Độc lập - Tự do - Hạnh phúc</div>
      <hr />
    </div>
    <div class="mb-4">
      <div>PHIẾU ĐĂNG KÝ GIỮ CHỖ NỘI TRÚ</div>
      <div><i>(Dành cho sinh viên đang ở ký túc xá)</i></div>
      <hr />
    </div>
    <div class="mb-4">
      <table>
        <tr>
          <td>Kính gởi:</td>
          <td>Trường Đại học Cần Thơ</td>
        </tr>
        <tr>
          <td></td>
          <td>Phòng công tác sinh viên</td>
        </tr>
      </table>
    </div>
  </header>
  <main>
    <section>
      <div>
        <span>
          Họ và tên:
          <b
            >......................................................................................</b
          >
        </span>
        <span>
          Nam, Nữ:
          <b>.........................</b>
        </span>
      </div>
      <div>
        <span>
          Ngày sinh:
          <b>.........................</b>
        </span>
        <span>
          Mã số sinh viên:
          <b>.........................</b>
        </span>
        <span>
          Điện thoại:
          <b>...............................</b>
        </span>
      </div>
      <div>
        <span>
          Ngành (lớp):
          <b
            >.............................................................................................................................</b
          >
        </span>
      </div>
      <div>
        <span>
          Đã ở ký túc xá tại dãy <b>.........................</b>, phòng
          <b>.........................</b>
        </span>
      </div>
      <div>
        <span> Đăng ký tiếp tục ở ký túc xá của Trường tại dãy phòng này </span>
      </div>
      <div>
        <span>
          Kính đề nghị Phòng Công tác Sinh viên Trường Đại học Cần Thơ xem xét
          cho tôi được tiếp tục ở KTX. Nếu được chấp thuận, tôi cam kết thực
          hiện đúng Quy chế về công tác nội trú của Bộ Giáo dục và Đào tạo và
          Nội quy KTX của Trường./.
        </span>
      </div>
    </section>
  </main>
  <footer class="text-center">
    <span class="thu1">
      <p>Xác nhận</p>
      <p>Đơn vị quản lý đào tạo</p>
    </span>
    <span class="thu2">
      <p><i>................, ngày ..... tháng ..... năm .....</i></p>
      <p><b>Người làm đơn</b></p>
      <p><i>(Ký và ghi rõ họ tên)</i></p>
    </span>
  </footer>
</div>
