<app-header-student></app-header-student>
<section class="mt-5 container">
  <div class="">
    <div class="section-title mt-5">
      <h2>Dịch vụ</h2>
      <p>Chúng tôi cung cấp các dịch vụ</p>
    </div>
  </div>
  <div class="table-filter">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="row" *ngIf="sesmester">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <span style="font-weight: bold">Học kỳ:</span>
              0{{ sesmester.sesmester }}
            </div>
            <div class="col-sm-3">
              <span style="font-weight: bold">Năm học:</span>
              {{ sesmester.schoolYear }}
            </div>
            <div class="col-sm-3">
              <span style="font-weight: bold">Thời gian đăng ký:</span>
              <br />{{ sesmester.registrationStartDate | date : "dd/MM/yyyy" }}
              đến
              {{ sesmester.registrationEndDate | date : "dd/MM/yyyy" }}
            </div>
            <div class="col-sm-3">
              <span style="font-weight: bold">Thời gian sử dụng:</span>
              <br />{{ sesmester.startDate | date : "dd/MM/yyyy" }}
              đến
              {{ sesmester.endDate | date : "dd/MM/yyyy" }}
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3"
        data-aos="zoom-in"
        data-aos-delay="100"
        *ngFor="let s of services; index as i"
      >
        <div class="icon-box" style="width: 100%">
          <div class="icon">
            <i
              [ngClass]="
                i === 0
                  ? 'fa fa-bicycle'
                  : i === 1
                  ? 'fa fa-motorcycle'
                  : 'fa fa-american-sign-language-interpreting'
              "
              style="font-size: 36px"
            ></i>
          </div>
          <h4>
            <a style="cursor: pointer">{{ s.name }}</a>
          </h4>
          <p style="font-size: 17px">
            <b>Giá:</b> {{ s.price | number }}đ/tháng
          </p>
          <p>
            {{ s.description }}
          </p>
        </div>
        <button (click)="registerService(s)" class="btn service_regist">
          Đăng ký
        </button>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<app-footer-student></app-footer-student>
