<app-header-student></app-header-student>
<section class="mt-5 container">
  <div class="">
    <div class="section-title mt-5">
      <h2>Cơ sở vật chất</h2>
      <p>Nếu phòng có sự cố hãy phản hồi</p>
    </div>
  </div>
  <div class="table-filter">
    <form #f="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="row" *ngIf="sesmester">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <span style="font-weight: bold">Học kỳ:</span>
              0{{ sesmester.sesmester }}
            </div>
            <div class="col-sm-3">
              <span style="font-weight: bold">Năm học:</span>
              {{ sesmester.schoolYear }}
            </div>
            <div class="col-sm-3">
              <span style="font-weight: bold">Thời gian sử dụng:</span>
              <br />{{ sesmester.startDate | date : "dd/MM/yyyy" }}
              đến
              {{ sesmester.endDate | date : "dd/MM/yyyy" }}
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-sm-4">
        <form style="margin-top: 15%" [formGroup]="form">
          <div class="box" style="padding-top: 0%">
            <select formControlName="material">
              <option value="" disabled>Cơ sở vật chất</option>
              <option *ngFor="let m of materials" [value]="m.id">
                {{ m.name }}
              </option>
            </select>
            <input
              class="mt-4 custom-quantity"
              type="number"
              placeholder="Nhập số lượng"
              id="quantity"
              name="quantity"
              formControlName="quantity"
              min="1"
              max="5"
            />
          </div>
          <div style="margin-top: 5%">
            <button (click)="addFeedback()">Xác nhận</button>
          </div>
        </form>
      </div>
      <div class="col-sm-8">
        <div style="color: rgb(72, 62, 62); font-style: italic">
          * Hệ thống sẽ phản hồi trong vòng 3 ngày. Bạn sẽ nhận được thông tin
          phản hồi trên hệ thống này và email sinh viên *
        </div>
        <table class="table text-center">
          <thead class="table-dark">
            <tr>
              <th>Thứ tự</th>
              <th>Nội dung</th>
              <th>Số lượng</th>
              <th>Ngày gửi</th>
              <th>Trạng thái</th>
              <th>Ghi chú</th>
            </tr>
          </thead>
          <tbody *ngIf="feedbacks.length != 0; else noData">
            <tr *ngFor="let f of feedbacks; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ f.content }}</td>
              <td>{{ f.quantity }}</td>
              <td>{{ f.sendDate | date : "dd/MM/yyyy" }}</td>
              <td>
                <div class="text-center" *ngIf="f.status == 0">
                  <div
                    style="
                      background-color: #b3b1b1;
                      color: white;
                      font-weight: BOLD;
                    "
                    class="p-2"
                  >
                    CHỜ XÁC NHẬN
                  </div>
                </div>
                <div class="text-center" *ngIf="f.status == 1">
                  <div
                    style="
                      background-color: green;
                      color: white;
                      font-weight: BOLD;
                    "
                    class="p-2"
                  >
                    ĐÃ XÁC NHẬN
                  </div>
                </div>
              </td>
              <td>{{ f.noteFromAdmin }}</td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tbody>
              <tr>
                <td colspan="6">
                  <div style="margin: 0 auto" class="text-center">
                    Bạn chưa có lịch sử phản hồi!
                  </div>
                </td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</section>
<app-footer-student></app-footer-student>
