.all:hover {
  margin-top: -2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Điều chỉnh giá trị box-shadow theo ý muốn */
  transition: box-shadow 0.5s ease; /* Tạo hiệu ứng transition cho bóng mờ */
  cursor: pointer;
  transition: 0.5s;
}
.all img {
  height: 250px;
}
