<app-header-student></app-header-student>
<div class="container" style="margin-top: 10%; margin-bottom: 7%">
  <div class="ui middle aligned center aligned grid">
    <div class="ui eight wide column text-center">
      <div class="ui icon negative message text-center">
        <i class="warning icon"></i>
        <div class="content">
          <div class="header">Thanh toán thất bại.</div>
          <p>Giao dịch của bạn đã bị hủy bỏ</p>
        </div>
      </div>
      <br />
      <span
        class="ui large teal submit fluid button"
        style="padding: 1%; cursor: pointer"
        routerLink="/info-student"
        >Quay lại</span
      >
    </div>
  </div>
</div>
<app-footer-student></app-footer-student>
