<div class="container-fluid position-relative d-flex p-0" style="background-color: black;">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a class="">
                            <img src="https://c8.alamy.com/comp/2JKX95P/grunge-black-homestay-word-square-rubber-seal-stamp-on-white-background-2JKX95P.jpg" style="width: 100%;" alt="">
                        </a>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="dangNhap()">
                        <div class="form-floating mb-3">
                            <input formControlName="username" type="text" class="form-control" id="floatingInput" placeholder="Tài khoản">
                            <div *ngIf="submitDangNhap">
                                <small class="text-danger" *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors['required']">Vui lòng nhập tài khoản</small>
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Mật khẩu">
                            <div *ngIf="submitDangNhap">
                                <small class="text-danger" *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">Vui lòng nhập mật khẩu</small>
                            </div>
                        </div>
                        <div *ngIf="errorMessage" class="text-center mb-2">
                            <span class="text-danger" style="font-weight: bold;">{{errorMessage}}</span>
                          </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng nhập</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>