#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}
.bg-dark {
    background-color: #000 !important;
}.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}.translate-middle {
    transform: translate(-50%, -50%) !important;
}.start-50 {
    left: 50% !important;
}.top-50 {
    top: 50% !important;
}.text-primary {
    color: #EB1616 !important;
}.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: .75s linear infinite spinner-border;
}.bg-secondary {
    background-color: #191C24 !important;
}.rounded {
    border-radius: 5px !important;
}.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}.form-floating {
    position: relative;
}.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3.5rem + 2px);
    padding: 1rem .75rem;
}.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C7293;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid #000;
    appearance: none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}.btn-primary {
    color: #fff;
    background-color: #EB1616;
    border-color: #EB1616;
}
.form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 10px #EB1616; /* Thay đổi giá trị để điều chỉnh hiệu ứng ánh sáng */
}
.btn-primary:hover {
    border-color: #dc3545;
    box-shadow: 0 0 10px #EB1616; /* Thay đổi giá trị để điều chỉnh hiệu ứng ánh sáng */
}
.btn-primary:focus {
    border-color: #dc3545;
    background-color: #dc3545;
    box-shadow: 0 0 10px #EB1616; /* Thay đổi giá trị để điều chỉnh hiệu ứng ánh sáng */
}

