<app-header-student></app-header-student>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="col-xl-6 col-lg-8">
        <h1>Chúng tôi là gia đình, không chỉ là nơi ở <span>.</span></h1>
        <h2>Tạo kỷ niệm tại ký túc xá - Nơi bạn gọi là nhà</h2>
      </div>
    </div>

    <div
      class="row gy-4 mt-5 justify-content-center"
      data-aos="zoom-in"
      data-aos-delay="250"
    >
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-bar-chart-box-line"></i>
          <h3><a href="">Hòa đồng</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-user-line"></i>
          <h3><a href="">Thân thiện</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-home-line"></i>
          <h3><a href="">Nơi ở</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-save-line"></i>
          <h3><a href="">Tiết kiệm</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-lock-line"></i>
          <h3><a href="">An toàn</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img
            src="../../assets/img/room/image1-9.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <h3>Ký túc xá - Nơi bạn bắt đầu cuộc hành trình của mình.</h3>
          <p class="fst-italic">
            Hãy cùng chúng tôi xây dựng cộng đồng tại ký túc xá.
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Biện pháp an ninh, như hệ
              thống thẻ ra vào hoặc camera giám sát, giúp bạn cảm thấy an toàn
              và yên tĩnh trong khi ở đó.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Cung cấp các tiện ích và dịch
              vụ như phòng tập thể dục, internet nhanh, và sân chơi, giúp bạn có
              cuộc sống thoải mái và tiện lợi.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Ký túc xá nằm ở vị trí gần
              trường học, trung tâm thành phố hoặc các khu vực tiện lợi khác,
              giúp bạn dễ dàng tiếp cận các dịch vụ và hoạt động ngoại khóa.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="image col-lg-6"
          style="
            background-image: url('assets/img/room/HI-Pigeon-Point-Lighthouse-hostel-three-women-in-bunks-1000x550-min.jpg');
          "
          data-aos="fade-right"
        ></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div
            class="icon-box mt-5 mt-lg-0"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            <i class="bx bx-receipt"></i>
            <h4>Tiết kiệm chi phí</h4>
            <p>
              Ký túc xá thường có giá thuê cố định hoặc rất dễ dự đoán, giúp bạn
              duy trì ngân sách hợp lý và tránh các chi phí ẩn.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Giao tiếp và gắn kết xã hội</h4>
            <p>
              Ký túc xá thường là nơi tương tác với sinh viên khác, giúp bạn xây
              dựng mối quan hệ xã hội và có cơ hội học hỏi từ người khác.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-detail"></i>
            <h4>Tiện ích và dịch vụ đi kèm</h4>
            <p>
              cung cấp các tiện ích và dịch vụ như phòng tập thể dục, internet
              nhanh, và sân chơi, giúp bạn có cuộc sống thoải mái và tiện lợi.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-shield"></i>
            <h4>Dịch vụ quản lý ký túc xá</h4>
            <p>
              Các nhân viên quản lý ký túc xá thường sẵn sàng hỗ trợ cư dân và
              giải quyết các vấn đề phát sinh.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Dịch vụ</h2>
        <p>Chúng tôi cung cấp dịch vụ</p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>
              Quis consequatur saepe eligendi voluptatem consequatur dolor
              consequuntur
            </p>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>
              Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
              aspernatur
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Lợi ích khi ở ký túc xá</h3>
        <p>
          Tiết kiệm thời gian và công sức, chi phí hợp lý, giao tiếp và gắn kết
          xã hội, an ninh và yên tĩnh, tiện ích và dịch vụ đi kèm, làm quen với
          cuộc sống độc lập, vị trí thuận lợi, môi trường học tập tốt
        </p>
        <a class="cta-btn" href="#">Đăng ký ở ngay</a>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Hình ảnh</h2>
        <p>Hình ảnh về phòng trong ký túc xá</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-1.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-1.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="App 1"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-2.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-2.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Web 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-3.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-3.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="App 2"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-4.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-4.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Card 2"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-5.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-5.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Web 2"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-6.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-6.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="App 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-7.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-7.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Card 1"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-8.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-8.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Card 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img
              src="../../assets/img/portfolio/portfolio-9.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-9.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Web 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="portfolio-details.html" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Hỗ trợ</h2>
        <p>Đội ngũ hỗ trợ</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="../../assets/img/team/team-1.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img
                src="../../assets/img/team/team-2.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img
                src="../../assets/img/team/team-3.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img
                src="../../assets/img/team/team-4.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Liên hệ với chúng tôi</h2>
        <p>Liên hệ với chúng tôi</p>
      </div>

      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.841454377122!2d105.76804037486137!3d10.029938972519219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1693705567132!5m2!1svi!2s"
          style="border: 0; width: 100%; height: 270px"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Địa chỉ:</h4>
              <p>
                Đường 3/2, phường Xuân Khánh, quận Ninh Kiều, thành phố Cần Thơ
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>Dormitory@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Số điện thoại:</h4>
              <p>0843152505</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <img
            class="php-email-form"
            src="../assets/img/Dai-Hoc-Can-Tho.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
<app-footer-student></app-footer-student>
